<div class="stolen-frosty offset3 span6 text-center">
<h1 class="stolen-h1">Hi I'm Richard</h1>

<br/>

<h2>I'm learning to code</h2>

<br/>

<%= link_to 'Launch', '#', :class => 'btn-warning btn-large' %>
</div>